<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>345848431145-miuv6a1t835ii4rojm41couo1ru3qs9s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.345848431145-miuv6a1t835ii4rojm41couo1ru3qs9s</string>
	<key>API_KEY</key>
	<string>AIzaSyAR5v0cWBHjrSrFclADV7BeJGE0ZN6BHDQ</string>
	<key>GCM_SENDER_ID</key>
	<string>345848431145</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.BrightCreations.MoviesDB</string>
	<key>PROJECT_ID</key>
	<string>moviesdb-5cdd6</string>
	<key>STORAGE_BUCKET</key>
	<string>moviesdb-5cdd6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:345848431145:ios:476e0fb3a6053e2a</string>
	<key>DATABASE_URL</key>
	<string>https://moviesdb-5cdd6.firebaseio.com</string>
</dict>
</plist>
